#version: '3.8'
# NOTE: if service is renamed, update monitoring & promethus.yml targets
services:
  agent:
    build:
      context: .
      dockerfile: docker/Dockerfile
    container_name: ai-agent
    ports:
      - "127.0.0.1:8000:8000"
    env_file:
      - .env
    depends_on:
      redis:
        condition: service_healthy
    
    restart: unless-stopped

  redis:
    image: redis:7-alpine
    container_name: ai-agent-redis
    ports:
      - "6379:6379"
    restart: unless-stopped
    healthcheck: 
      test: ["CMD", "redis-cli", "ping"]
      interval: 5s
      timeout: 3s
      retries: 5

  prometheus:
    image: prom/prometheus:latest
    container_name: ai-agent-prometheus
    volumes:
      - ./monitoring/prometheus.yml:/etc/prometheus/prometheus.yml
    ports:
      - "9090:9090"
    command:
      - '--config.file=/etc/prometheus/prometheus.yml'
    restart: unless-stopped
    depends_on:
      - agent

  grafana:
    image: grafana/grafana:latest
    container_name: ai-agent-grafana
    ports:
      - "3000:3000"
    environment:
      - GF_SECURITY_ADMIN_PASSWORD=admin
      - GF_SECURITY_ADMIN_USER=admin
    volumes:
      # - ./monitoring/dashboards:/etc/grafana/provisioning/dashboards
      # - ./monitoring/grafana-dashboard-config.yml:/etc/grafana/provisioning/dashboards/dashboards.yml
      # - ./monitoring/grafana-datasource.yml:/etc/grafana/provisioning/datasources/datasource.yml

      - ./monitoring/dashboards:/etc/grafana/provisioning/dashboards
      - ./monitoring/grafana-dashboard-config.yml:/etc/grafana/provisioning/dashboards/config.yml
      - ./monitoring/grafana-datasource.yml:/etc/grafana/provisioning/datasources/datasource.yml
    restart: unless-stopped
    depends_on:
      - prometheus